@font-face {
  font-family: 'Kalinbas';
  src: url('ArsenalSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'btnlr';
  src: url('ArsenalSC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {

  position: relative;
  margin: 0;
  background-image: url("darlinbg.png");
  background-size: cover;
}

body::before {
  content: "";
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  background: linear-gradient(to right, rgba(174, 164, 191, 0.8), transparent 40px),
    linear-gradient(to left, rgba(174, 164, 191, 0.8), transparent 40px),
    linear-gradient(to bottom, rgba(174, 164, 191, 0.8), transparent 40px),
    linear-gradient(to top, rgba(174, 164, 191, 0.8), transparent 40px);

  background-repeat: no-repeat;
  background-position: left top, right top, left top, left bottom;
  background-size: 80px 100%, 80px 100%, 100% 80px, 100% 80px;

  filter: blur(15px);
}
.bgdv {
  min-height: 100vh;
}
.dv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spotify {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: translateX(-100%);
  animation: slide-in-left 5s ease-out forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.title {
  font-family: 'Kalinbas';
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  animation: slide-in-top 5s ease-out forwards ;
}
@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.gf {
}
.gfgif {
  margin-top: 100px;
  border-radius: 5px;
}
.btns {
  font-family: 'btnlr';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  
}
.nbtns {
  width: 150px;
  height: auto;
  margin: 10px;
  background-color: #CDCDCD;
  border-radius: 5px;
}
.nbtns:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
  background-color: #3B252C;
}
.ybtns {
  color: #CDCDCD;
  width: 150px;
  height: auto;
  margin: 10px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: #CDCDCD;
  border-radius: 5px;
}
.ybtns:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
  background-color: #3B252C;
}

.yesbtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.nobtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

@media(max-width: 943px) {
  .title {
    margin-top: 75px;
  }
}
